
    
    <div id="topContainer">
      <h1>Welcome to CSE Motors!</h1>
        <div id="deloreanDescriptionBackground">
            <div id="deloreanDescription">
                <p><span id="dmcDelorean">DMC Delorean</span><br>
                3 Cup holders<br>
                Superman doors<br>
                Fuzzy dice!
                </p>
                <img id="OwnButton" src="/images/site/own_today.png" alt="rectangle with blue background that says own today">
            </div>
        </div>
        <img id="heroDelorean" src="/images/vehicles/delorean.jpg" alt="gray car with doors that open up">
    </div>
    <div class="secondContainer">
        <div>
            <h2>Delorean Upgrades</h2>
            <div id="upgradeContainer">
               <figure>
                    <div class="imageDiv"><img src="/images/upgrades/flux-cap.png" alt="small gray box"></div>
                    <figcaption><a href="#">Flux Capacitor</a></figcaption>
               </figure>
               <figure>
                    <div class="imageDiv"><img src="/images/upgrades/flame.jpg" alt="drawing of fire"></div>
                    <figcaption><a href="#">Flame Decals</a></figcaption>
               </figure> 
               <figure>
                    <div class="imageDiv"><img src="/images/upgrades/bumper_sticker.jpg" alt="sticker with words hello world on it"></div>
                    <figcaption><a href="#">Bumper Stickers</a></figcaption>
               </figure> 
               <figure>
                    <div class="imageDiv"><img src="/images/upgrades/hub-cap.jpg" alt="gray circle or hub cap"></div>
                    <figcaption><a href="#">Hub Caps</a></figcaption>
               </figure> 
                
                
                
            </div>
        </div>

        <div >
            <h2>DMC Delorean Reviews</h2>
            <ul id="reviews">
                <li>"So fast it's almost like traveling in time." (4/5)</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling McFly!" (5/5)</li>
                <li>"The most futuristic ride of our day." (4.5/5)</li>
                <li>"80's livin and I love it!" (5/5)</li>
            </ul>
        </div>
    </div>