/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

nav {
    background-color: #3a3a3a;
    font-size: 1em;
    color: white;
    height: 50px; 
}
nav ul {
  display: flex; 
  height: 100%; 
  list-style-type: none; 
}